alembic
bcrypt
cffi
click
coverage
Flask
Bcrypt-Flask==1.0.2
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy==3.0.2
SQLAlchemy==1.4.42
Werkzeug==2.2.2
gunicorn
itsdangerous
Jinja2
Mako

psycopg2-binary
pycparser
PyJWT==1.7.1
python-dateutil
python-editor
six

environs
MarkupSafe
sshtunnel==0.4.0
boto3==1.25.5
fastapi==0.63.0
jsonschema~=3.2.0
Pillow==9.3.0
ruamel.yaml
flask-pydantic>=0.11.0
pydantic>=2.0.0
email-validator>=2.0.0